

.form {
    & input:focus {
        outline-color:blue;
    }

    & input {
        border-radius:10px;
        border:none;
        outline:1px solid gray;
        font-size:17px;

        padding:0 14px;
        width:calc(100% - 28px);
    }
    
    & input,
    & button {
        height:54px;
    }

    & label {
        position:relative;
    }

    & button:hover {
        background:rgb(212, 212, 212);
    }

    & button {
        background:rgb(224, 224, 224);
        border-radius:20px;
        font-size:20px;
    }
    
}

