button.m_btn {

    &:active {
        box-shadow:inset 0 0 2px gray;
    }
    
    & span {
        color:var(--gray-800);
    }
    & svg {
        color:rgb(120, 120, 120);
    }
    
    &:hover {
        background-color:var(--gray-100);
    }

    --c:var(--txt-hover-c);

    &:hover svg,
    &:hover span {
        color: var(--c);
    }
}