

#msg_menu {
    position:absolute;

    width:80px;
    left: 120px;

    background:white;
    justify-content:flex-end;


    display:flex;
    flex-direction:row;

    border-width:1px;

    z-index:200;

    & .A {
        border-color:var(--nv-fc-c);
    }
    & .B {
        border-color:var(--media-c);
    }

    & button {
        border-radius:4px;
        width:30px;
        position:relative;
    }

    &, & button {
        height:30px;
    }
    & svg {

        position:absolute;
        top:7px;
        left:7px;

        width:16px;
        height:16px;
    }
}