@import "./title/i.css";
@import "./c_av.css";
@import "./cbtns.css";

#chatbar {
    width:100%;
    height:50px;
    
    line-height:30px;
    z-index:200;
    background-color:white;

    position:fixed;
    top:0;
    left:0;
    display:flex;
    flex-direction:row;

    & > * {
        position:absolute;
    }
}
