

#cm_mo > button {
    transition:
        .2s left,
        .2s background-color
    ;

    border-radius:15px;
    top:13px;
    position:absolute;
    
    display:inline-block;
    font-size:14px;
    height:24px;
    line-height:24px;
    width:64px;
    color:white;
    text-align:center;
    
    &.a {
        font-size:15px;
        
        color:black;
        background-color:white;
    }
}

#cm_mo {
    position:absolute;
    bottom:0;
    height:50px;

    left:calc(50% - 96px);
    width:192px;
    overflow:hidden;
}