

#outpl .vl.point_slider > .v {
    height:40px;
    width:60px;
}

#outpl .ss_b > .speed .pbsp > .v {
    height:50px;
    width:calc(100% - 30px);
    margin-left:15px;
}

#outpl .ss_b > .speed .dec {
    margin-top:5px;
    margin-left:auto;
}

#outpl .ss_b > .speed .inc {
    margin-top:5px;
    margin-right:auto;
}

#pbsp {
    outline:1px solid var(--media-dark-c);
    border-radius:4px;
    height:20px;
    width:60px;
    text-align:center;
    margin:15px auto 0 auto;
}

#outpl .ss_b > .speed .tsm {
    position:absolute;
    top:6px;
    left:0;
    width:100%;
    height:12px;

    & > * {
        position:absolute;
        top:0;
        color:gray;
        width:24px;
        font-size:12px;
    }
}

#outpl .ss_b > .speed > :nth-child(1) > :nth-child(1) {
    margin-top:5px;
    margin-left:5px;
}
#outpl .ss_b > .speed > :nth-child(1) > :nth-child(2) {
    font-size:14px;
    position:absolute;
    height:16px;
    line-height:16px;
    font-size:16px;
    top:17px;
    right:17px;
    color:var(--media-dark-c);
}

#outpl .ss_b > .speed > * {
    height:50px;
}

#outpl .ss_b > * > * {
    width:100%;
    position:relative;
}

#outpl .ss_b > .menu > * {
    height:40px;
}

#outpl .ss_b .menu > * > :nth-child(1) {
    gap:8px;
    position:absolute;
    left:8px;
    top:8px;

    & > :nth-child(2) {
        color:var(--gray-1000);
        font-size:13px;
        margin-top:4px;
        line-height:16px;
        height:16px;
    }
}

#outpl .ss_b .menu > * > :nth-child(2) {
    position:absolute;
    right:12px;
    top:12px;
    height:16px;
    line-height:16px;
    font-size:14px;

    color:var(--easy-media-c);
    font-weight:bold;
}

#outpl .ss_b .menu .spb > :nth-child(2) {
    width:44px;
    text-align:right;
}

#outpl .ss_b > .menu > *:hover {
    background-color:var(--gray-200);

    & > :nth-child(2) {
        color:var(--media-c);
    }
}
