


#jump {
    position:absolute;
    right:0;
    bottom:80px;
    color: var(--inp-fc-c);
    outline: 1px solid var(--inp-fc-c);
}

#outpl._0 .fs {
    display:none;
}

#minp.M #ctxt:hover {
    outline-color:var(--media-c);
}
#minp.M #outpl {
    display:flex;
}
#minp.M #pline {
    display:block;
}

#outpl {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:100;

    display:none;
    flex-direction:row;

    

    & > :nth-child(1) > .ts {
        gap:2px;
        font-size:12px;
    }

    & button:hover svg {
        color:var(--media-c);
    }

    & > :nth-child(1) {
        margin-left:5px;
        margin-right:auto;
        gap:4px;
    }
    & > :nth-child(1) > .ts > * {
        height:fit-content;
        margin:auto 0;
    }

    & > :nth-child(2) {
        margin-left:auto;
        margin-right:5px;
    }

    & > * {
        height:40px;
        margin-top:5px;
        display:flex;
        flex-direction:row;
        gap:0;
    }

    & svg {
        color:var(--easy-media-c);
        width:24px;
        height:24px;
    }
}