

#pline {
    display:none;

    position:absolute;
    width:calc(100% - 170px);
    height:3px;
    background:rgb(220, 220, 220);
    
    top:0px;
    left:110px;
    cursor:pointer;
    

    &:hover {
        height:5px;
        top:-1px;
    }
    &:hover > :nth-child(4) {
        top:-4px;
    }
    
    /* loaded */
    &>:nth-child(1) {
        background:var(--loaded-media-c);
    }

    /* hover */
    &.h > :nth-child(2) {
        opacity:1
    }
    &>:nth-child(2) {
        background:rgba(0 0 0 / .06);
        opacity:0;
    }

    /* viewed */
    &>:nth-child(3) {
        background:var(--media-c);
    }

    /* cursor */
    &>:nth-child(4){
        background:var(--media-c);
        width:13px;
        height:13px;
        border-radius:6.5px;
        top:-5px;
        left:-6.5px;
    }

    & > * {
        position:absolute;
        transform-origin: left center;
        left:0;
    }

    &>.a{
        height:100%;
        width:100%;
    }
}