

#cha {
    padding:0;
}

#cha > li > button {

    border-radius:0 5px 5px 0;
    height:50px;
    position:relative;

    &.ctx {
        outline-offset:-2px;
        outline:2px solid var(--ctx-outline-c);
    }
    
    &:active {
        box-shadow:inset 0 0 2px gray;
    }

    & > :nth-child(1) {
        margin: 0
    }
    
    &:hover {
        background-color:var(--gray-100);
    }
}

#left_panel {
    position:relative;
    overflow-x:visible;
    overflow-y:scroll;

    height:100%;
    width:var(--lbar-w);

    direction: rtl;

    scrollbar-width: thin;

    &::-webkit-scrollbar {
        width: 6px;
    }
}

#cha > li > button > div {
    display:flex;
    flex-direction:row;

    & > * {
        position:absolute;
    }

    &>:nth-child(1) {
        width:34px;
        height:34px;
        top:8px;
        left:8px;
        border-radius:100%;
    }
}


#cha > li > button > div > :nth-child(2) {
    direction:ltr;
    height: 34px;
    width: 230px;
    
    top:8px;
    left:50px;

    & > :nth-child(1) {
        font-size:16px;
        line-height:20px;
    }

    & > :nth-child(1) {
        font-size:14px;
        line-height:20px;
        height:20px;
    }
    
    & > :nth-child(2) {
        height:14px;
        display:flex;
    }

    & > :nth-child(2) > span:nth-child(2) {
        text-align:right;
    }

    & > :nth-child(2) > span {
        line-height:14px;
        display:inline-block;
        width:150px;
        color:rgb(95, 95, 95);
    }

    & > p {
        text-align:left;
        padding:0;
        margin:0;
    }
}

#cha > li {
    list-style:none;
    display:block;

    height:50px;

    

    &,& > button {
        width:100%;
    }
}
