
#chatbar {
    width:100%;
    height:50px;
    
    line-height:30px;
    z-index:120;
    background-color:white;

    position:sticky;
    top:0;
    left:0;
    display:flex;
    flex-direction:row;


    & > :nth-child(1) {
        cursor:pointer;
        width:30px;
        height:30px;
        border-radius:100%;
        left:80px;
        top:10px;
    }

    & > #cbtns > * {
        margin:0;
    }

    & > #cbtns {
        height:40px;
        top:5px;
        width:160px;

        right:60px;

        display:flex;
        flex-direction:row;
    }

    & > * {
        position:absolute;
    }

    & > h1 {
        font-size:22px;
        color:rgb(65, 65, 65);
        
        width:calc(100% - 345px);
        cursor:default;
        border-radius:5px;
        outline:1px solid white;

        cursor:text;
        font-weight:bold;

        padding-left:5px;
        
        left:115px;
        top:10px;
        margin:0;
        
    }

    & > h1:hover {
        outline-color:gray;
    }
}