


#left_panel > .tp {
    height:50px;
    
    width:100%;
    position:sticky;
    top:0;
    left:0;
    z-index:100;
    background-color:var(--background-color);
    
    & > input {
        direction:ltr;
        position:absolute;
        left:10px;
        height:30px;
        top:10px;

        width:calc(100% - 26px);
        
        display:block;
        padding:0 5px;
        font-size:16px;
    }
}