
@import url("./c/i.css");

@import url("./s.css");
@import url("./r.css");

@import url("./2/i.css");
@import url("./1/i.css");
@import url("./0/i.css");


@import url("./camera/i.css");
@import url("./f/i.css");


@import url("./call/i.css");

.hi {
    opacity:0 !important;
    pointer-events:none !important;
}

#rl {
    width:calc(100% - var(--lbar-w));
    position:relative;
    overflow-x:hidden;
    overflow-y:scroll;

}

html {
    overflow:hidden;
    width:var(--w);
}

body {
    margin:0;
}

#loader {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1000;
    background-color:white;

    transition:.4s opacity;
}

.df {
    border:none;
    outline:1px solid gray;
    border-radius:4px;
    font-size:15px;
    
    background-color:white;
    
    &:focus {
        outline-color:var(--inp-fc-c);
    }
}



#cadd:hover,
#cadd.a {
    color:var(--nv-fc-c);
}

ul {
    margin:0;
}
li {
    list-style:none;
}
button {
    border:0;
    padding:0;
    background:none;
    cursor:pointer;
}
#nv {
    position:fixed;
    z-index:200;
    bottom: 0;
    left:0;
    width:100%;
    height: 40px;

    background-color:var(--background-color);

    & > ul {
        height:40px;
        width:550px;
        margin: 0 auto;
        padding:0;
        display:flex;
        flex-direction:row;
        list-style:none;
    }
}

#nv > ul > li > button {
    width:100px;
    height:40px;
    color: gray;
    
    border-radius:4px 4px 0 0;

    &:hover,
    &:focus-visible {
        background-color: var(--gray-100);
    }

    &:hover > svg,
    &.a > svg,
    &:focus-visible > svg {
        width:25px;
        height:25px;
    }

    &.a {
        color: var(--nv-fc-c);
    }

    & > svg {
        width:20px;
        height:20px;
        transition:color .2s, height .1s, width .1s;
    }

    & > span {
        display:none;
    }
}

#c {
    position:relative;
    display:flex;
    flex-direction:row;
    gap:0;
    width:fit-content;
    height:fit-content;
}

#ap, #ap > * {
    width:0;
    height:0;
}

#ap > canvas {
    display:none;
}

#create {
    position:absolute;

    left:calc(50% - 115px);
    bottom:50px;

    width:180px;
    height:84px;

    background:white;
    z-index:10;
    overflow:hidden;
    
    display:none;
    outline:1px solid var(--gray-400);
    border-radius:10px;
    
    &.a {
        display:block;
    }
    
    &>button:hover {
        background-color:var(--gray-200);
        color:black;
    }
    &>button>*{
        top:10px;
        position:absolute;
    }
    &>button>svg {
        width:20px;
        height:20px;
        left:10px;
    }
    &>button>span {
        left:40px;
        font-size:14px;
        line-height:20px;
        height:20px;
    }

    
    &>button {
        color:rgb(30, 30, 30);
        position:relative;
        width:180px;
        height:40px;
    }
}

button.m_btn {

    &:active {
        box-shadow:inset 0 0 2px gray;
    }
    
    & span {
        color:var(--gray-800);
    }
    & svg {
        color:rgb(120, 120, 120);
    }
    
    &:hover {
        background-color:var(--gray-100);
    }

    --c:var(--txt-hover-c);

    &:hover svg,
    &:hover span {
        color: var(--c);
    }
}
