

#c > * {
    position:relative;
    
    width:var(--w);
    height:calc(var(--h) - 40px);
}



#c > :nth-child(4) > div {
    width:50%;
    display:flex;
    margin:0 auto;
    flex-direction:column;
    padding-top:32px;

    & p {
        margin:0 0 4px 0;
        padding:0;
    }

    & input {
        padding: 0 10px;
    }

    & select {
        padding: 0 5px;
        width:256px;
    }

    & input {
        width:236px;
    }

    & input,
    & select {
        display:block;
        
        
        font-size:14px;
        height:26px;
    }

    & > label {
        margin-left:auto;
        margin-right:auto;
        
        width:256px;
    }
    
    & > label {
        font-size:12px;
        margin-top:10px;
    }

}


#copyright {
    display:block;
    position:absolute;
    
    width:182px !important;
    text-align:center;
    

    left:calc(50% - 91px);
    top:480px;
    
    &>a,&>span {
        font-size:14px;
    }
    
    &,
    & > a {
        color:rgba(0, 0, 0, 0.8);
    }
}

#c3 .sp {

    width:256px;
    
    font-weight:400;
    height:20px;
    line-height:20px;
    
    display:block;
    position:relative;

    margin:20px auto 0 auto;

    z-index:20;

    &>span {
        position:absolute;
        left:26px;
        padding:0 6px;
        font-size:14px;
        background-color:white;
        display:block;
    }

    & .l {
        width:256px;
        height:1px;

        top:10px;
        left:calc(50% - 128px);
        
        position:absolute;
        
        display:block;
        content:"";

        left:0;
        z-index:0;
        background:gray;
    }
}

#c3 label.md:has(select:focus)  {
    &,& svg{
        color:var(--inp-fc-c);
    }
}

#c3 label.md {

    &>p{
        font-size:13px;
        margin-left:26px;
    }
}

#c3 div.n {
    height:26px;
    width:256px;
    position:relative;

    
    &>*{
        position:absolute;
    }

    &>select{
        left:26px;
        height:24px;
        top:1px;
        width:230px;
    }
    
    &>svg {
        left:5px;
        top:5px;
        
        /* margin-top:5px; */
        width:16px;
        height:16px;
        color:gray;
    }
}

#c3 > :nth-child(1) {
    height:calc(100% - 40px);
    position:relative;
}