

#c_av {
    cursor:pointer;
    width:30px;
    height:30px;
    border-radius:100%;
    left:40px;
    top:10px;
}

#chatbar {
    width:100%;
    height:50px;
    
    line-height:30px;
    z-index:200;
    background-color:white;

    position:absolute;
    top:0;
    left:0;
    display:flex;
    flex-direction:row;

    & > #cbtns > * {
        margin:0;
    }

    & > #cbtns {
        height:40px;
        top:5px;
        width:160px;

        right:40px;

        display:flex;
        flex-direction:row;
    }

    & > * {
        position:absolute;
    }

    & > h1 {
        
        border-bottom:1px solid rgb(221, 221, 221);

        font-size:22px;
        color:rgb(65, 65, 65);
        
        max-width:calc(100% - 320px);
        width:fit-content;

        cursor:default;
        border-radius:5px 5px 0 0;

        cursor:text;
        font-weight:bold;

        padding-left:5px;
        padding-right:5px;
        
        left:90px;
        top:10px;
        margin:0;
        height:30px;
        
    }

    & > h1:hover {
        border-color:gray;
    }
}