
#minp {
    width:100%;
    height:var(--minp-h);

    background-color:var(--background-color);

    position:absolute;
    bottom:0;
    left:0;
    z-index:200;
}

#minp > * {
    position:absolute;
    background-color:var(--background-color);
}

#ej_p {
    z-index:500;
    position:absolute;
    width:300px;
    height:320px;
    bottom:80px;
    right:60px;
    background:var(--background-color);
    outline:1px solid gray;
    border-radius:8px;
    overflow:hidden;
    
    & > * {
        overflow-x:hidden;
        overflow-y:scroll;
        height:100%;
    }

    & .list button {
        width:40px;
        height:40px;
        font-size:24px;
    }

    & > * > .list {
        width:100%;
        margin: 0 auto;
        display: flex;
        flex-direction:row;
        flex-wrap:wrap;
        align-content: flex-start;
        
    }
}

#ej {
    font-size:18px;
    filter:grayscale(100%);

    &:hover {
        filter:grayscale(0%);
    }
}

#ctxt {
    overflow-wrap: break-word;
    
    font-family: var(--msg-font);
    
    font-size:14px;
    line-height:20px;

    height:50px;
    width:calc(100% - 430px);

    left:200px;

    overflow:hidden;
    top:15px;

    border:none;
    outline:1px solid gray;
    border-radius:4px;

    background-color:white;
    cursor:text;
    

    & > .I {
        overflow:hidden;
        
        height:40px;
        padding:5px 5px 0 5px;

        width:calc(100% - 10px);


        outline:none;
    }

    &:has(.I:focus) {
        outline-color:var(--inp-fc-c);
    }
}


.bti {
    color:gray;
    width:40px;
    height:40px;
    border-radius:100%;

    &:hover,
    &:focus-visible {
        background-color:var(--gray-200);
        color: var(--inp-fc-c);
    }

    & > svg {
        width:20px;
        height:20px;
        
        margin:auto;
    }
}

#minpr,
#minpl {
    width:fit-content;
    height:40px;
    top:20px;
}

#minpr {
    width:160px;
    right:60px;
}

#minpl {
    width:80px;
    left:110px;
}

#minpr,
#minpl,
#minp {
    display:flex;
    flex-direction:row;
    
}