
#minp {
    width:100%;
    height:var(--minp-h);

    background-color:var(--background-color);

    position:sticky;
    bottom:0;
    left:0;
    z-index:200;
}

#minp > * {
    position:absolute;
    background-color:var(--background-color);
}

#ctxt {
    overflow-wrap: break-word;
    
    font-family: var(--msg-font);
    
    font-size:14px;
    line-height:20px;

    height:40px;
    padding:5px 5px;
    left:160px;

    width:calc(100% - 400px);

    overflow:hidden;
    top:15px;
}


.bti {
    color:gray;
    width:40px;
    height:40px;
    border-radius:100%;

    &:hover,
    &:focus-visible {
        background-color:var(--gray-200);
        color: var(--inp-fc-c);
    }

    & > svg {
        width:20px;
        height:20px;
        
        margin:auto;
    }
}

#minpr,
#minpl {
    width:fit-content;
    height:40px;
    top:20px;
}

#minpr {
    width:160px;
    right:60px;
}

#minpl {
    width:40px;
    left:110px;
}

#minpr,
#minpl,
#minp {
    display:flex;
    flex-direction:row;
    
}