

#msgs {
    display:flex;
    flex-direction:row;
    width:var(--w);
    height:fit-content;
    z-index:100;
    position:relative;
    margin-top:50px;
    height: calc(var(--h) - 170px);
}

#msgs .time {
    width:80px;
    margin-left:120px;

    & > .m > * {
        top:12px;
    }

    & > * > * {
        position:absolute;
        display:block;

        right:10px;
        top:8px;

        height:12px;
        font-size:12px;
        line-height:12px;
    }

    & > * {
        position:relative;
        width:80px;
        user-select:none;
        color:rgb(80, 80, 80);
    }
}

#msgs > .list {
    width:calc(100% - 220px);
    display:flex;
    flex-direction:column;

    height: fit-content;
}

#msgs > .list > * {
    cursor:default;
    position:relative;

    display:flex;
    flex-direction:column;
    
    
    
    border-radius:4px;
    overflow:hidden;

    height:fit-content;
    min-height:30px;

    width:fit-content;
    max-width:100%;

    & > button {
        height:fit-content;
    }

    & > .t {
        overflow-wrap: break-word;
        line-height:14px;
        font-size:14px;

        padding-right:16px;
        padding-left:8px;
        font-family:var(--msg-font);
    }

    &.o > button {
        padding-top:8px;
        padding-bottom:8px;
    }

    &.f, &.l, &.o {
        border-radius:8px;
    }
    
    &.f > button {
        padding-top:12px;
        padding-bottom:4px;
    }

    & > .F:hover {
        color:var(--nv-fc-c);
    }

    & > .I {
        border-radius:8px;
        overflow:hidden;
    }

    & > .F {
        color:gray;
        cursor:pointer;
        transition:.2s color;
        width:40px;
        height:40px;
    }

    & > .F > svg {
        width:24px;
        height:24px;
    }

    &.l > button {
        padding-top:4px;
        padding-bottom:12px;
    }

    &.i {
        height:24px;
    };

    &.i > button {
        padding-top:5px;
        padding-bottom:5px;
    }
    
    &:hover {
        background-color:rgb(240, 240, 240);
    }
}
