


#left_panel > .tp {
    height:50px;
    width:100%;
    
    position:absolute;
    top:0;
    
    z-index:400;
    background-color:var(--background-color);

    & > input:focus {
        outline-color:var(--inp-fc-c);
        
    }
    
    & > input {
        direction:ltr;
        position:absolute;
        height:40px;
        top:10px;
        
        width:calc(100% - 20px);

        outline-width:2px;
        outline-style:solid;
        outline-color:rgb(201, 201, 201);
        
        color:rgb(36, 36, 36);
        border-radius:8px 8px 1px 1px;
        
        display:block;
        padding:0 10px;
        font-size:16px;
    }
}