

#list > * {
    cursor:default;
    position:relative;

    display:flex;

    border-radius:4px;
    overflow:hidden;

    height:fit-content;
    min-height:30px;

    width:100%;
    
    &.msg {
        flex-direction:column;
    }

    & > *:hover {
        background-color:rgb(240, 240, 240);
    }

    & > .t {
        letter-spacing:0px;
        height:fit-content;
        max-width:100%;

        text-align:left;

        overflow-wrap: break-word;

        line-height:14px;
        font-size:14px;
        
        white-space: normal;

        

        padding-right:16px;
        padding-left:8px;

        font-family:var(--msg-font);
    }

    &.o > button {
        padding-top:8px;
        padding-bottom:8px;
    }

    &.f, &.l, &.o {
        border-radius:8px;
    }
    
    &.f > button {
        padding-top:12px;
        padding-bottom:4px;
    }

    & > .I {
        border-radius:8px;
        overflow:hidden;
    }

    & > .F {
        color:gray;
        cursor:pointer;
        transition:.2s color;
        width:40px;
        height:40px;
    }

    & > .F > svg {
        width:24px;
        height:24px;
    }

    &.l > button {
        padding-top:4px;
        padding-bottom:12px;
    }

    &.i {
        height:24px;
    };

    &.i > button {
        padding-top:5px;
        padding-bottom:5px;
    }
}