
.message-inline {
    position:absolute;
    left:0;

    white-space: pre;
    overflow: hidden;
    
    font-family: var(--font-family);
}

.default-height {
    height:var(--height-row);
    line-height:var(--height-row);
    font-size:var(--font-size);
}

.simple-color {
    color:var(--color);
}

.placeholder-color {
    color:var(--color-placeholder);
}