
.message_inline {
    position:absolute;
    left:0;

    white-space: pre;
    overflow: hidden;
    
    font-family: var(--font-family);
}

.default_height {
    height:var(--row-height);
    line-height:var(--row-height);
    font-size:var(--font-size);
}

.simple_color {
    color:var(--color);
}

.placeholder_color {
    color:var(--placeholder-color);
}