
.message {
    position:static;
}

.message_row {
    position:absolute;
    width:100%;
    height:var(--row-height);
}

.message_inline {
    position:absolute;
    color:var(--color);
    left:0;
    font-size:14px;
    height:22px;
    line-height:22px;
    width:fit-content;
}