

.message {
    position:static;
}

.message_row {
    position:absolute;
    width:100%;
    height:22px;
}

.message_inline {
    font-size:14px;
    height:22px;
    line-height:22px;
    cursor:text;
    width:fit-content;
}