
.message {
    position:static;
}

.message_row {
    position:absolute;
    width:100%;
    height:var(--row-height);
}

.message_inline {
    position:absolute;
    color:var(--color);
    left:0;
    font-size:var(--font-size);
    height:var(--row-height);
    line-height:var(--row-height);
    width:fit-content;
}