@import "./c/i.css";
@import "./chat_msg/i.css";
@import "./el/i.css";
@import "./f/i.css";
@import "./system/i.css";

.hi {
    opacity:0 !important;
    pointer-events:none !important;
}

.df {
    border:none;
    outline:1px solid gray;
    border-radius:4px;
    font-size:15px;
    background-color:white;
    
    &:focus {
        outline-color:var(--inp-fc-c);
    }
}

#ap, #ap > * {
    width:0;
    height:0;
}

#ap > canvas {
    display:none;
}
