
#list {
    position:absolute;
    display:flex;
    cursor:text;
    overflow:hidden;

    user-select: none;

    font-family: var(--font-family);
    
    top:0;
    left:0;

    right:var(--list-right);
    bottom:var(--list-bottom);

    width:calc(100% - var(--list-right));
    height:calc(100% - var(--list-bottom));
}

#list_inner {
    position:absolute;
    top:var(--list-top);
    left:var(--list-left);
}
