

#text_width_container {
    position: absolute;
    visibility: hidden;
    white-space: pre;
    
    left: 100%;
    
    font-weight: normal;
    font-style: normal;
    letter-spacing: normal;
    text-transform: none;
    word-spacing: normal;
    tab-size: 4;
}