

#ej_p {
    z-index:500;
    position:absolute;
    width:300px;
    height:320px;
    bottom:80px;
    right:60px;
    background:var(--background-color);
    outline:1px solid gray;
    border-radius:8px;
    overflow:hidden;
    
    & > * {
        overflow-x:hidden;
        overflow-y:scroll;
        height:100%;
    }

    & .list button {
        width:40px;
        height:40px;
        font-size:24px;
    }

    & > * > .list {
        width:100%;
        margin: 0 auto;
        display: flex;
        flex-direction:row;
        flex-wrap:wrap;
        align-content: flex-start;
        
    }
}