input {
    border:none;
    outline:none;
}
ul, ol, p, input, body {
    margin:0;
    padding:0;
}
li {
    list-style:none;
}
button {
    border:0;
    padding:0;
    background:none;
    cursor:pointer;
}
