/* 
@font-face {
    font-family: 'MainFont';
    src:
        url(
            '/f/font/ttf/JetBrainsMono-2.304/fonts/ttf/JetBrainsMonoNL-Bold.ttf'
        )
        format('ttf')
    ;
    font-weight: bold;
    font-style: normal;
} */
