
:root {
    overflow:hidden;
    width:var(--w);
    min-height:var(--h);

    scrollbar-color: var(--scrollсrawler-c) var(--scrollbar-c);
    overflow-x:hidden;
    overflow-y:scroll;
    
    --gray-100: rgb(244, 242, 242);
    --gray-200: rgb(228, 228, 228);
    --gray-400: rgb(170, 170, 170);
    --gray-800: rgb(60, 59, 59);
    --gray-1000: rgb(43, 43, 43);
    
    --lbar-w:320px;
    --minp-h:80px;
    --header-h:40px;
    
    --msg-font: monospace;
    
    --inp-fc-c: rgb(16, 74, 248);
    --nv-fc-c: #0078D4;

    --txt-hover-c:rgb(0, 60, 241);
    --ctx-outline-c:rgb(215, 215, 215);
    --warn-red-c: #e53935;
    --call-red-focus-c:rgb(197, 0, 0);

    --media-c:#d96f00;
    --media-dark-c:#6d4400;
    --loaded-media-c:#ff840052;
    
    --easy-media-c:#947a4f;

    --background-color:white;
    --color:black;

    --scrollbar-c:var(--background-color);
    --scrollсrawler-c:gray;

    --logo-color:#FAA43C;
    --soft-blue:rgb(37 85 231);
    --muted-blue:#5f7ecf;

    --msg-ls:0px;
}