
:root {
    --width-cursor:1px;

    --color: #000000FF;
    --color-placeholder: #808080FF;
    --color-background: #FFFFFFFF;
    --color-background-scrollbar:rgba(121, 121, 121, 0.4);
    --color-background-scrollbar-hover:rgba(116, 116, 116, 0.5);
    --color-background-scrollbar-active:rgba(110, 110, 110, 0.7);

    position:relative;
    overflow:hidden;
    background-color:var(--color-background);
}
