

#ctxt {
    overflow-wrap: break-word;
    
    font-family: var(--msg-font);
    
    font-size:14px;
    line-height:20px;

    height:50px;
    width:calc(100% - 430px);

    left:140px;

    overflow:hidden;
    top:15px;

    border:none;
    outline:1px solid gray;
    outline-offset:-1px;
    
    border-radius:4px;

    background-color:white;
    cursor:text;
    

    & > .I {
        overflow:hidden;
        
        height:40px;
        padding:5px 5px 0 5px;

        width:calc(100% - 10px);


        outline:none;
    }

    &:has(.I:focus) {
        outline-color:var(--inp-fc-c);
    }
}