@import "./ctxt.css";
@import "./ej/i.css";
@import "./button_blocks.css";

#minp {
    width:100%;
    height:var(--minp-h);

    background-color:var(--background-color);

    position:fixed;
    bottom:0;
    left:0;
    z-index:200;

    & > * {
        position:absolute;
        background-color:var(--background-color);
    }
}
