
.bti {
    color:gray;
    width:40px;
    height:40px;
    border-radius:100%;

    &:hover,
    &:focus-visible {
        background-color:var(--gray-200);
        color: var(--inp-fc-c);
    }

    & > svg {
        width:20px;
        height:20px;
        
        margin:auto;
    }
}