

#chap {
    position: relative;
    top: 50px;
    width:100%;
    height: calc(var(--h) - 90px);
    overflow:hidden;
}

#msg_select {
    position:absolute;
    outline:1px solid blue;
    border-radius:8px;
    z-index:200;
    outline-offset:-1px;
    left:200px;
}

#msg_edit {
    margin-right:10px;
}

#msg_menu {
    position:absolute;

    width:80px;
    left: 120px;

    background:white;
    justify-content:flex-end;


    display:flex;
    flex-direction:row;

    border-color:var(--nv-fc-c);
    border-width:1px;

    z-index:200;

    & button {
        border-radius:4px;
        width:30px;
        position:relative;
    }

    &, & button {
        height:30px;
    }
    & svg {

        position:absolute;
        top:7px;
        left:7px;

        width:16px;
        height:16px;
    }
}

.chat_menu {
    border-color:var(--ctx-outline-c);
    border-width:2px;
    width:220px;
}

.ctx_menu {
    z-index:200;
    overflow:hidden;
    position:absolute;

    background:white;
    cursor:default;

    width:200px;
    height:fit-content;

    border-style:solid;
    
    border-radius:10px;

    &.top {
        border-top:none;
        border-radius:0 0 10px 10px;    
    }

    &.btm {
        border-bottom:none;
        border-radius:10px 10px 0 0;
    }

    & .info {
        width:100%;
        height:40px;
        font-size:14px;
    }

    &,
    & .acts {
        display:flex;
        flex-direction:column;
        margin-bottom:10px;
    }

    

    & .d {
        font-size:12px;
    }

    & .t {
        line-height:20px;
        height:20px;
        font-size:12px;
    }


    & .wrinfo > * {
        text-align:left;
        white-space:nowrap;
        width:100%;
    }

    & .wrinfo {
        position:absolute;
        width:calc(100% - 40px);
        height:20px;
        top:10px;
        left:20px;
    }

    &.b {
        top:50px;
        right:60px;
    }
}

.ctx_menu .acts > button {
    position:relative;
    height:40px;
    width:calc(100% - 20px);
    margin-left:10px;

    border-radius:10px;

    & > * {
        position:absolute;
    }

    & > span {
        left:40px;
        height:20px;
        font-size:14px;
        
        top:10px;
        line-height:20px;
    }

    & > svg {
        width:20px;
        height:20px;

        top:10px;
        left:10px;
    }
}

