#content {
    position:absolute;
    top:0;
    left:0;
    width:var(--width-content);
    height:var(--height-content);

    background:var(--color-background);
    pointer-events:none;

    z-index:50;
}