

#cursors {
    position:static;
}

.cursor {
    position:absolute;
    opacity:1;

    width:var(--cursor-width);
    height:var(--row-height);

    background-color:var(--color);
}

.cursor-blinking {
    animation: cursor-blink 1s steps(1, end) infinite;
}

@keyframes cursor-blink {
    50% { opacity: 0; }
}