
#list {
    position:absolute;
    display:flex;
    cursor:text;
    
    user-select: none;
    
    top:var(--top-list);
    left:var(--left-list);

    width:var(--width-list);
    height:var(--height-list);

    /* contain: layout paint; */
    overflow: hidden;

    z-index:10;
}
