

#c2 > div {
    width:500px;
    margin: 40px auto 0 auto;
}

#c2 > div > * {
    padding:0;
}

#c2 > div > * > * {
    list-style:none;


    & > div {
        font-family:sans-serif;
        height:0;
        overflow:hidden;
        width:90%;
        margin: 0 auto;
    }

    &:has(button.a) > div {
        height:128px;
    }
    
    & > button > img {
        width:20px;
        height:20px;
        margin-top:10px;
        margin-left:10px;
        margin-right:10px;
    }
    
    & > button:hover {
        background-color:var(--gray-100);
    }

    & > button.a {
        outline-color:var(--nv-fc-c);
        background-color:var(--gray-100);
    }

    & > button {
        outline:1px solid var(--gray-400);
        width:100%;
        display:flex;
        flex-direction:row;
        border-radius:10px;
        height:40px;
        margin-bottom:10px;
    }


    & > button > span {
        height:20px;
        line-height:20px;
        margin-top:10px;
        margin-left:10px;
        font-size:15px;
        white-space:nowrap;
    }


}
